<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='about' %} class="active" {% endif %}><a href="{{ "/about/" | relative_url }}">About</a></li>
                <li {% if page.sectionid=='organisers' %} class="active" {% endif %}><a href="{{ "/organisers/" | relative_url }}">Organisers</a></li>
                <li {% if page.sectionid=='relevant_links' %} class="active" {% endif %}><a href="{{ "/relevant_links/" | relative_url }}">Relevant Links</a></li>
                <li {% if page.sectionid=='accepted_submissions' %} class="active" {% endif %}><a href="{{ "/accepted_submissions/" | relative_url }}">Accepted Submissions</a></li>
            </ul>
                </ul>
            </div>
        </div>
    </div>
</nav>